@import "../../variables";
.app__navbar {
  width: 100%;
  max-width: 100%;
  display: flex;
  cursor: pointer;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  background: $color-black;
  padding: 1rem;
  font-size: 1.3rem;
  .app__navbar_logo {
    background-color: $color-black;
    img {
      width: 50%;
      margin-left: 1rem;
    }
  }
  .app__navbar_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-evenly;
    @media (max-width: 1500px) {
      display: none;
    }
    li {
      color: $color-white;
      margin-right: 2rem;
      a:hover {
        color: $color-grey;
        transition: ease-in-out;
      }
    }
  }
  .login-register {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 3rem;
    @media (max-width: 1000px) {
      display: none;
    }
    span {
      margin: 0 1rem;
    }
    p:hover {
      border-bottom: 3px solid $color-gold;
      transition: ease-in-out;
    }
  }
  .Bars {
    display: none;
    color: $color-white;
    font-size: 2.5rem;
    @media (max-width: 1500px) {
      display: block;
      transition: 3s ease-in-out;
    }
  }
  .Bar {
    color: $color-gold;
  }
  .app__navbar-smallscreen_overlay {
    display: none;
    @media (max-width: 1400px) {
      display: block;
      position: absolute;
      animation: animationname 0.6s ease-in 0s 1 normal none;
      right: 0%;
      transition: 0.5s ease-in-out;
      width: 100%;
      padding: 3rem;
      text-align: center;
      background-color: $color-black;
      .app__navbar-smallscreen_links {
        list-style-type: none;
        font-family: $font-alt;
        li {
          margin-top: 2rem;
          color: $color-gold;
          a {
            color: $color-gold;
            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }
    @keyframes animationname {
      0% {
        opacity: 0;
        transform: translateY(-250px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
